body {
  margin: 0;
  background-color: #FAFAFA;
}


/* ######################### */
/* NAVBAR */
/* ######################### */

header {
  width: 100%;
  /* background-color: #1a1a1a; */
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #acacac;
  height: 80px;
  background-color: #FFFFFF;
}

.navContainer {
  width: 935px;
  /* background-color: #1a1a1a; */
  display: flex;
  align-items: center;
  color: white;
  height: 80px;
  margin: 0 auto;
}

.logos {
  margin-left: 20px;
}

.labelAndDesc {
  /* display: flex; */
  /* background-color: orange; */
  /* display: inline-flex; */
  display: inline-block;
  /* margin-left: 20px; */
  padding-left: 10px;
  padding-right: 10px;
}

.label {
  /* width: 98.4px; */
  /* display: inline-flex; */
  /* height: 10px; */
  display: block;
  font-family: Gotham;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.1px;
  color: #acacac;
  text-transform: uppercase;
  /* background-color: lightblue; */
}

.desc {
  /* width: 400px; */
  display: block;
  height: 12px;
  font-family: Gotham;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.33;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-transform: uppercase;
  /* background-color: black; */
}

.sociallinks {
  text-align: right;
  flex-grow: 1;
  margin-right: 20px;
}

.sociallinks span{
  background-color: red;
}

img.close{
  /* padding-left: 32px; */
}

.sociallinks img {
  padding-left: 10px;
}

/* MAIN SECTION */
.main {
  padding-top: 90px;
  width: 935px;
  margin: 0 auto;
  background-color: #FAFAFA;
}

.profilePanel {
  margin-top: 40px;
  /* padding-top: 40px; */
}

/* ######################### */
/* PROFILE SECTION */
/* ######################### */

.imageBG {
  /* background-color: lightblue; */
  /* background-image: url('/Users/Biagio/Desktop/Dropbox/Biagio File Cabinet/Projects/CodeCademy/Biagio\'s Insta Portfolio/imgs/ProfilePanel.png'); */
  background-image: url('../imgs/ProfilePanelBG.png');
  width: 932px;
  height: 215px;
  margin: 50px auto;
}

.buttonsProfile {
  display: flex;
  justify-content: flex-end;
  /* margin-right: 20px; */
  padding-right: 10px;
}

.buttonsProfile img {
  /* padding-left: 5px; */
  /* padding-top: 10px; */
  margin-right: 10px;
  margin-top: 20px;
}


/* ######################### */
/* CATEGORIES */
/* ######################### */

.categories {
  /* margin-top: 40px; */
  padding-top: 40px;
  width: 935px;
  /* background-color: #1a1a1a; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* color: white; */
  height: 80px;
  margin: 0 auto;
}

.category {

    text-align: center;
    padding-left:10px;
    padding-right: 10px;
    font-family: Gotham;
font-size: 14px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;

}

.category p {
    height: 14px;
    color: #000000;
    margin-top: 5px;
}

.gallery {
  width: 935px;
  /* background-color: #1a1a1a; */
  /* display: flex; */
  /* align-items: center; */
  color: white;
  height: 80px;
  margin: 0 auto;
  margin-top: 70px;
}

.galleryRow {
  /* background-color: lightyellow; */
  width: 935px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
